.resume .resume-title {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #050d18;
}

.resume .resume-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid #1f5297;
    position: relative;
}

.resume .resume-item h4 {
    line-height: 18px;
    font-size: 18px;
    font-weight: 600;
    /* text-transform: uppercase; */
    font-family: "Poppins", sans-serif;
    color: #050d18;
    margin-bottom: 10px;
}

.resume .resume-item h5 {
    font-size: 16px;
    background: #e4edf9;
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
}

.resume .resume-item ul {
    padding-left: 20px;
}

.resume .resume-item ul li {
    padding-bottom: 10px;
}

.resume .resume-item:last-child {
    padding-bottom: 0;
}

.resume .resume-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: #fff;
    border: 2px solid #1f5297;
}


.media img {
    max-width: 72px;
}

.media {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.media-body a {
    font-size: 1.2rem;
    text-decoration: none;
    color: cornflowerblue;
}

.text-secondary {
    color: #6c757d !important;
    font-size: 1.1rem;
}

.font-weight-bold {
    font-weight: 700 !important;
}

.d-block {
    display: block !important;
}