{% load static %}
<link rel="stylesheet" href="{% static 'publication/css/style.css' %}">
<link rel="stylesheet" href="{% static 'contact/css/style.css' %}">

<main class="main-content container">
    <section id="resume" class="resume">
        <div class="container" data-aos="fade-up">
            <div class="row">
                <div class="col-12 text-center mb-5">
                    <div class="row justify-content-center">
                        <div class="col-lg-10">
                            <h2 class="display-4 main-title">Our Team</h2>
                            <p class="sub-title">ChemFH is developed and maintained by the CBDD team of Central
                                South University,
                                the HIT team of National University of Defense Technology, and the Innovation Institute
                                for Artificial Intelligence in Medicine of Zhejiang University.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7" data-aos="fade-up">
                    <div class="resume-item">
                        <div class="d-flex">
                            <div class="d-flex flex-column justify-content-center">
                                <img class="me-3 img-fluid img-thumbnail" style="max-width: 120px"
                                     src="{% static 'contact/img/CDS.jpg' %}"
                                     alt="">
                            </div>
                            <div>
                                <a href="" style="text-decoration: none;"><h4>Dongsheng Cao</h4></a>
                                <h5>PROFESSOR OF PHARMACY</h5>
                                <p class="mb-1"> oriental-cds@163.com <br> Professor </p>
                                <p><em>Central South University, Changsha, Hunan, China</em></p>
                            </div>
                        </div>
                    </div>

                    <div class="resume-item">
                        <div class="d-flex">
                            <div class="d-flex flex-column justify-content-center">
                                <img class="me-3 img-fluid img-thumbnail" style="max-width: 120px"
                                     src="{% static 'contact/img/HTJ.jpg' %}" alt="">
                            </div>
                            <div>
                                <a href="" style="text-decoration: none;">
                                    <h4>Tingjun Hou</h4></a>
                                <h5>PROFESSOR OF PHARMACY</h5>
                                <p class="mb-1">
                                    tingjunhou@zju.edu.cn <br>
                                    Professor
                                </p>
                                <p><em>Zhejiang University, Hangzhou, Zhejiang, China</em></p>
                            </div>
                        </div>
                    </div>

                    <div class="resume-item">
                        <div class="d-flex">
                            <div class="d-flex flex-column justify-content-center">
                                <img class="me-3 img-fluid img-thumbnail" style="max-width: 120px"
                                     src="{% static 'contact/img/WCK.jpg' %}" alt="">
                            </div>
                            <div>
                                <a href="" style="text-decoration: none;">
                                    <h4>Chengkun Wu</h4></a>
                                <h5>ASSOCIATE RESEARCHER IN COMPUTER SCIENCE</h5>
                                <p class="mb-1">
                                    chengkun_wu@nudt.edu.cn <br>
                                    Professor (Associate)
                                </p>
                                <p><em>National University of Defense Technology, Hunan, Changsha</em></p>
                            </div>
                        </div>
                    </div>

                    <div class="resume-item">
                        <div class="d-flex">
                            <div class="d-flex flex-column justify-content-center">
                                <img class="me-3 img-fluid img-thumbnail" style="max-width: 120px"
                                     src="{% static 'contact/img/LAP.jpg' %}" alt="">
                            </div>
                            <div>
                                <a href="" style="text-decoration: none;">
                                    <h4>Aiping LYU</h4></a>
                                <h5>PROFESSOR IN CHINESE MEDICINE</h5>
                                <p><em>Hong Kong Baptist University, Hong Kong SAR, China</em></p>
                            </div>
                        </div>
                    </div>

                    <div class="resume-item">
                        <div class="d-flex">
                            <div class="d-flex flex-column justify-content-center">
                                <img class="me-3 img-fluid img-thumbnail" style="max-width: 120px"
                                     src="{% static 'contact/img/ZXX.jpg' %}" alt="">
                            </div>
                            <div>
                                <a href="" style="text-decoration: none;">
                                    <h4>Xiangxiang Zeng</h4></a>
                                <h5>PROFESSOR IN COMPUTER SCIENCE</h5>
                                <p><em>Hunan University, Hunan, Changsha</em></p>
                            </div>
                        </div>
                    </div>

                    <div class="resume-item">
                        <div class="d-flex">
                            <div class="d-flex flex-column justify-content-center">
                                <img class="me-3 img-fluid img-thumbnail" style="max-width: 120px"
                                     src="{% static 'contact/img/unknow.jpg' %}" alt="">
                            </div>
                            <div>
                                <a href="" style="text-decoration: none;">
                                    <h4>Wentao Zhao</h4></a>
                                <h5>PROFESSOR IN COMPUTER SCIENCE</h5>
                                <p><em>National University of Defense Technology, Hunan, Changsha</em></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-5" data-aos="fade-up">
                    <div class="resume-item">
                        <a href="" style="text-decoration: none;">
                            <h4>Ziyi Yang</h4></a>
                        <h5>MASTER'S STUDENT IN PHARMACY</h5>
                        <p><em>Central South University, Changsha, Hunan, China</em></p>
                    </div>


                    <div class="resume-item">
                        <a href="" style="text-decoration: none;">
                            <h4>Shaohua Shi</h4></a>
                        <h5>PHD STUDENT IN PHARMACY</h5>
                        <p><em>Hong Kong Baptist University, Hong Kong SAR, China</em></p>
                    </div>

                    <div class="resume-item">
                        <a href="" style="text-decoration: none;">
                            <h4>Li Fu</h4></a>
                        <h5>PHD STUDENT IN PHARMACY</h5>
                        <p><em>Central South University, Changsha, Hunan, China</em></p>
                    </div>

                    <div class="resume-item">
                        <a href="" style="text-decoration: none;">
                            <h4>Jiacai Yi</h4></a>
                        <h5>PHD STUDENT IN COMPUTER SCIENCE</h5>
                        <p><em>National University of Defense Technology, Hunan, Changsha</em></p>
                    </div>

                    <div class="resume-item">
                        <a href="" style="text-decoration: none;">
                            <h4>Zhijiang Yang</h4></a>
                        <h5>MASTER'S STUDENT IN PHARMACY</h5>
                        <p><em>Central South University, Changsha, Hunan, China</em></p>
                    </div>

                    <div class="resume-item">
                        <a href="" style="text-decoration: none;">
                            <h4>Xiaochen Zhang</h4></a>
                        <h5>PHD STUDENT IN COMPUTER SCIENCE</h5>
                        <p><em>National University of Defense Technology, Hunan, Changsha</em></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>